<!DOCTYPE html>
<html>
    <head>
        <title> Layout One</title>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body>
        <div id="main">
            <div id="header"> 
                <div id="title"><h1>Indiamart</h1></div>
                <div id="icons">
                   
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
                </div>

            </div>
            <div id="menu">
                Menu
            </div>
            <div id="section">
                 <div id="sidebar"> Sidebar</div>
                 <div id="container"> Container</div>
                 <div class="clr"></div>
            </div>
            <div id="footer"> Footer</div>
        </div>
    </body>
</html>